1 - یادآوری
2 - یادآوری
3 - Recursive Func
4 - Path Finding/test.py
5 - Image Processing/OpenCV Introduction - Part 1
5 - Image Processing/OpenCV Introduction - Part 2
5 - Image Processing/Project/Project.rar
5 - Image Processing/جلسۀ آخر
5 - Image Processing/TDetector.py
6 - پایانی ترم اول
7 - Data Collection/Intro
7 - Data Collection/Project/accommodations_data.json
7 - Data Collection/Project/__pycache__
7 - Data Collection/Project/پروژۀ جمع‌آوری داده.pdf
7.5 - کارزار
HooshBall
